<div class="Block Moveable Panel AccountOrderStatus" id="AccountOrderStatus">
	<h2>%%LNG_OrderStatus%%</h2>
	<div class="BlockContent">
		<div style="display:%%GLOBAL_HideOrderStatusList%%">
			<p class="InfoMessage">
				%%LNG_AccountOrderStatusIntro%%
			</p>

			<ul class="AccountOrderStatusList">
				<b>Información Importante:</b><br/><br/>
Para retirar tu producto anota el número de pedido y preséntate con tu dni o cédula. <br/>
Si envías a alguien para que lo retire por vos, tiene que saber el número de pedido y presentar una fotocopia de tu dni o cédula.
<br/><br/>
Dirección: Juan Francisco Segui 3545, local 29.<br/>
E-mail: localwinona@gmail.com<br/>
Horarios de atención: Lunes a viernes de 14:00 a 19:00. Sábados de 12:00 a 16:00.<br/>

				%%SNIPPET_AccountOrderStatus%%
				
				<b>Información Importante:</b><br/><br/>
Para retirar tu producto anota el número de pedido y preséntate con tu dni o cédula. <br/>
Si envías a alguien para que lo retire por vos, tiene que saber el número de pedido y presentar una fotocopia de tu dni o cédula.
<br/><br/>
Dirección: Juan Francisco Segui 3545, local 29.<br/>
E-mail: localwinona@gmail.com<br/>
Horarios de atención: Lunes a viernes de 14:00 a 19:00. Sábados de 12:00 a 16:00.<br/>

			</ul>
		</div>

		<p class="InfoMessage" style="display:%%GLOBAL_HideNoOrderStatusMessage%%">
			%%LNG_AccountOrderStatusNone%%
		</p>
	</div>
</div>


