%%Panel.Popups%%		
		<div id="AjaxLoading"><img src="%%GLOBAL_IMG_PATH%%/ajax-loader.gif" alt="" />&nbsp; %%LNG_LoadingPleaseWait%%</div>
		%%GLOBAL_MaintenanceNotice%%

		
		<div id="Outer">
			<div id="Header">
				<div id="Logo">
					%%GLOBAL_HeaderLogo%%
				</div>
				%%Panel.ProvinciaBox%%
				%%Panel.Recomenda%%
				%%Panel.SalesNewsForm%%
				
				<!--%%Panel.HeaderSearch%%-->
				<br class="Clear" />
			</div>
		</div>
		
			%%Panel.Provbox%%
		
		<div id="TopMenuBox">
			%%Panel.TopMenu%%
		</div>
			%%Panel.TopMenu_bot%%
			
		<div id="Outer">
		<!--%%Panel.PagesMenu%%-->
