<div id="rightBanner">
	<div class="roundtop">&nbsp;</div>
	<div onclick="location='index.php?id=3'" style="cursor:pointer" class="right_in">
		<h1>AS Inform&aacute;tica</h1>
		<div>
			<div class="img"><img border="0" src="imagen.php?imagen=3.jpg&amp;ancho=109&amp;alto=71"></div>
			<div class="preciono">$300,00</div>
			<div class="preciosi">$240,00</div>
		</div>
		<p>Venta y reparaci&oacute;n de Pcs e insumos GPS Garmin Nuvi 200 a U$S 240 Venta y reparaci&oacute;n de Pcs e insumos GPS Garmin Nuvi 200 a U$S 240</p>
	</div>
	<div class="roundbot">&nbsp;</div>
<div id="publi"><p>Dise&ntilde;o por <a href="#">Publiideas</a></p></div>
</div>