<div id="salesnews2">
	<ul>
	  <li>
		<p>Recib&iacute; los SALES en tu e-mail<a style="display:inline-block; width:1px; height:1px; margin:0px; padding:0px;" id="topnews" name="topnews"></a></p>
	  </li>
	  <li>
		<form name="salesnews" id="salesnews" method="post" action="javascript: sendSuscribeTop();" onsubmit="javascript: return validateSubsFormTop();">
		<input type="text" value="" class="email" id="subemail2" name="subemail2">
		<input type="submit" value="Enviar" id="loginemail" class="buttonemail" name="news">
		<input type="hidden" value="%%GLOBAL_CatId%%" name="ciudadtop" id="ciudadtop" />
		</form>
	  </li>
	</ul>
</div>