<div id="head2">
	<div id="menu">
		<ul>
		  <li><a href="%%GLOBAL_ShopPathNormal%%/pages.php?pageid=5">FAQ's</a></li>
		  <li><a href="%%GLOBAL_ShopPathNormal%%/pages.php?pageid=3">Contacto</a></li>
		  <li><a target="_blank" class="botonsocial" href="http://twitter.com/VivoEnSale"><img width="18" height="18" border="0" src="%%GLOBAL_IMG_PATH%%/red/twitter_32.png"></a></li>
		  <li><a target="_blank" class="botonsocial" href="http://www.facebook.com/pages/Vivo-en-Sale/219969624703656"><img width="18" height="18" border="0" src="%%GLOBAL_IMG_PATH%%/red/facebook_32.png"></a></li>
		</ul>
		<div class="register" style="display:%%GLOBAL_ShowLogin%%">
			<ul>
			  <li><a href="%%GLOBAL_ShopPathNormal%%/login.php?action=create_account"><img width="12" height="12" border="0" align="top" src="%%GLOBAL_IMG_PATH%%/red/user_icon.png">Registrate gratis!</a></li>
			  <li><a href="%%GLOBAL_ShopPathNormal%%/login.php?action=reset_password"><img width="12" height="12" border="0" align="absmiddle" src="%%GLOBAL_IMG_PATH%%/red/help_icon.png">Olvide mi contrase&ntilde;a</a></li>
			</ul>
		</div>
		
		<div class="register" style="display:%%GLOBAL_ShowLogOut%%">
			<ul>
			  <li><a href="%%GLOBAL_ShopPathNormal%%/account.php">Mi Cuenta</a></li>
			  <li><a href="%%GLOBAL_ShopPathNormal%%/login.php?action=logout"><img width="12" height="12" border="0" align="top" src="%%GLOBAL_IMG_PATH%%/red/user_icon.png">Salir</a></li>
			</ul>
		</div>

	</div>
</div>