	%%GLOBAL_OptimizerLinkScript%%	
		
		<div id="TopMenu">
			<ul style="display:%%GLOBAL_HidePurchasingOptions%%">
				<li style="%%GLOBAL_LiveChatCodeEnabled%%" class="HeaderLiveChat">
					%%GLOBAL_LiveChatCode%%
				</li>
				<li style="display:%%GLOBAL_HideAccountOptions%%" class="First"><a href="%%GLOBAL_ShopPathNormal%%/categories/%%GLOBAL_catforsales%%">Sales de hoy</a><li>
				<li id="salesHot" style="display:%%GLOBAL_HideWishlist%%"><a href="%%GLOBAL_ShopPathNormal%%/categories/Sales-HOT">Sales HOT</a></li>
                                <li style="display:%%GLOBAL_HideWishlist%%"><a href="%%GLOBAL_ShopPathNormal%%/recents.php">Sales recientes</a></li>
				<li style="display:%%GLOBAL_HideCartOptions%%"><a href="%%GLOBAL_ShopPathNormal%%/pages.php?pageid=4">&#191;C&oacute;mo funciona?</a></li>
				%%Panel.Login%%
			</ul>
			<br class="Clear" />
		</div>