</div>
<div id="blackback" style="display:none;"></div>
		<br class="Clear" />
        </div>

	<div class="topFooter">
		Todos los derechos reservados - <a href="%%GLOBAL_ShopPathNormal%%/pages.php?pageid=3">info@vivoensale.com</a>
	</div>
	<div id="foot">
	<div id="foot_in">
		<div class="itemsfoot">
			<h4>Vivo en Sale  </h4>
			<p><a href="%%GLOBAL_ShopPathNormal%%/pages.php?pageid=6">La empresa</a><br />
			  <a href="%%GLOBAL_ShopPathNormal%%/pages.php?pageid=7">Promocion&aacute; tu negocio</a><br />
			  <a href="%%GLOBAL_ShopPathNormal%%/pages.php?pageid=8">&#161;Satisfacci&oacute;n garantizada!</a>
			  </p>
		</div>
		<div class="itemsfoot">
			<h4>Men&uacute;</h4>
			<p><a href="%%GLOBAL_ShopPathNormal%%/pages.php?pageid=5">FAQ&acute;s</a><br />
			  <strong><a style="color:#fff;" href="%%GLOBAL_ShopPathNormal%%/account.php">Mi cuenta</a></strong><br />
		  <a href="%%GLOBAL_ShopPathNormal%%/pages.php?pageid=3">Contacto</a></p>
		</div>
		<div class="itemsfoot">
			<h4>Ofertas</h4>
			<p><a href="%%GLOBAL_ShopPathNormal%%/categories/Capital-Federal">Sales de hoy</a><br />
			  <a href="%%GLOBAL_ShopPathNormal%%/recents.php">Sales recientes</a><br />
			  <a href="%%GLOBAL_ShopPathNormal%%/pages.php?pageid=4">&#191;C&oacute;mo funciona? </a></p>
		</div>
		<div class="itemsfoot">
		  <h4>&nbsp;</h4>
		  <p><a href="%%GLOBAL_ShopPathNormal%%/login.php?action=create_account">Registrate</a></p>
		</div>
		<div class="itemsfoot">
		  <h4>Seguinos</h4>
		  <p><a target="_blank" href="http://twitter.com/VivoEnSale"><img width="18" height="18" border="0" align="top" class="social" src="%%GLOBAL_IMG_PATH%%/red/twitter_32.png"> Twitter</a><br />
			  <a target="_blank" href="http://www.facebook.com/pages/Vivo-en-Sale/219969624703656"><img width="18" height="18" border="0" align="top" class="social" src="%%GLOBAL_IMG_PATH%%/red/facebook_32.png"> Facebook<br />
			</a><a href="javascript: showPopUp('inicioPopUp', 1);"><img width="18" height="18" border="0" align="top" class="social" src="%%GLOBAL_IMG_PATH%%/red/email_32.png"> Newsletter</a></p>
		</div>
		<div class="itemsfoot">
		  <h4>Formas de pago:</h4>
		  <p>
			<img width="176" height="177" src="%%GLOBAL_IMG_PATH%%/red/formasdepago.png"></p>
		</div>
	</div>
	</div>		


		%%GLOBAL_DesignModeHTML%%
		%%GLOBAL_QueryList%%
		%%GLOBAL_DesignModeScriptTag%%
		%%GLOBAL_LiveChatFooterCode%%

		%%GLOBAL_OptimizerTrackingScript%%

		%%GLOBAL_OptimizerConversionScript%%

		%%GLOBAL_OptimizerSetCookieScript%%
		%%GLOBAL_FooterScripts%%
		%%SNIPPET_FastCartThickBoxJs%%
<div style="display: none">
