<ul>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Buenos-Aires">Buenos Aires</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Bah&iacute;a Blanca">Bah&iacute;a Blanca</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Catamarca">Catamarca</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Chaco">Chaco</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Chubut">Chubut</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/C&oacute;rdoba">C&oacute;rdoba</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Corrientes">Corrientes</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Entre-R&iacute;os">Entre R&iacute;os</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Formosa">Formosa</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Jujuy">Jujuy</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/La-Pampa">La Pampa</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/La-Plata">La Plata</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/La-Rioja">La Rioja</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Mar-del-Plata">Mar del Plata</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Mendoza">Mendoza</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Misiones">Misiones</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Neuqu&eacute;n">Neuqu&eacute;n</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/R&iacute;o-Negro">R&iacute;o Negro</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Salta">Salta</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/San-Juan">San Juan</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/San-Luis">San Luis</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Santa-Cruz">Santa Cruz</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Santa-Fe">Santa Fe</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Stgo.-del-Estero">Stgo. del Estero</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Tierra-del-Fuego">Tierra del Fuego</a></li>
	<li><a href="%%GLOBAL_ShopPathNormal%%/categories/Tucum&aacute;n">Tucum&aacute;n</a></li>
</ul>
