<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
	<div id="Container">
	%%Panel.Header%%

	<div id="Wrapper">
		%%Panel.WrapperBanner%%
		<div class="Left" id="LayoutColumn1">
			<div class="rounfofertatop">&nbsp;</div>
				<div class="fullInnerBox">
					<div class="Block YourAccount">
						<h2>%%LNG_YourAccount%%</h2>
						<div class="BlockContent">
							<p>%%LNG_YourAccountHelpIntro%%</p>
							<ul>							
								<li><a href="%%GLOBAL_ShopPath%%/account.php">%%LNG_ViewYourCredit%%</a> : $ %%GLOBAL_Credit%%</li>
								<li><a href="%%GLOBAL_ShopPath%%/account.php?action=cupones">%%LNG_ViewYourCuponStatus%%</a> - %%LNG_ViewCuponStatusDescription%%</li>								
								<li><a href="%%GLOBAL_ShopPath%%/account.php?action=account_details">%%LNG_YourAccountDetails%%</a> - %%LNG_AccountDetailsDescription%%</li>
								%%GLOBAL_ShopValidarCuponesOption%%								
							</ul>
						</div>
					</div>					
				</div>
			<div class="rounfofertabot">&nbsp;</div>			
				
		</div>
		<div class="Content" id="LayoutColumn2">
		</div>

		<br class="Clear" />
	</div>
	%%Panel.Footer%%
</div>
</body>
</html>