<tr><td colspan=2 ><h3>%%GLOBAL_MisOfertas_oferta%%</h3></td></tr>
<tr>
<td width="200px"> <img src="%%GLOBAL_ShopPathNormal%%/product_images/%%GLOBAL_ThumbimageOf%%" alt="%%GLOBAL_MisOfertas_oferta%%" /> </td>
<td valign="top" style="margin-left:20px; padding-left:15px;">  
<p>
	<strong>CUPONES DISPONIBLES:</strong> %%GLOBAL_Disponibles%%<br />
	<strong>CUPONES UTILIZADOS:</strong> %%GLOBAL_Utilizados%%<br />
	<strong>TOTAL:</strong> %%GLOBAL_Total%%<br /><br />
	<a href="%%GLOBAL_ShopPathNormal%%/account.php?action=validarcupones">%%LNG_AccountValidarCupones%%</a>
</p>
</td>
</tr>
