<div class="fullProductBox_g">
	<a href="%%GLOBAL_ProductLink%%"><h2>%%GLOBAL_ProductName%%<span>PAW Accesorios</span></h2>
	<div class="product_image_g">%%GLOBAL_ProductThumb%%</div>
	<div class="comprar_g">
		<div class="product_topDetailsBlack ">
			<span class="product_button"></span>
			<span class="product_number">%%GLOBAL_ProductPrice%%</span>
		</div>	
	</div>
	<div class="product_share_g">
	<div id="fb-root"></div>
	
	<script src="http://connect.facebook.net/es_ES/all.js#xfbml=1"></script>
	
	
	<fb:send href="%%GLOBAL_ProductLink%%" font=""></fb:send>
<a href="http://twitter.com/share" class="twitter-share-button" data-url="%%GLOBAL_ProductLink%%" data-text="%%GLOBAL_ProductName%%" data-count="none" data-via="comunidadpaw" data-lang="es">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>	
	</div>
</div>							
                                   