    
	<div class="red_top">
		<span>Redireccionando: </span> 
		
		
		En este momento ser&aacute;s redirigdo al sitio de Mercado Pago para procesar tu compra.
		<br clear="all">
		<br clear="all">
		<br clear="all">
		Si no sos redireccionado, podes hacer click aca: <br/><a href="%%GLOBAL_PaymentMessage%%">%%GLOBAL_PaymentMessage%%</a>
		<br clear="all">
		<br clear="all">
		<br clear="all">
		<div align="center">
			<img src="%%GLOBAL_IMG_PATH%%/logimg.png" alt="">
			<img src="%%GLOBAL_IMG_PATH%%/formasdepago_trans.png" alt="">
		</div>
	</div>
						
	