		<li class="%%GLOBAL_AlternateClass%%" style="float:left !important; clear:none; margin-right:10px; margin-bottom:10px; width:210px !important">
			<div class="ProductImage" style="display:block;margin-left:25px;">
				%%GLOBAL_ProductThumb%%
			</div>
			<div class="ProductDetails">
				<strong><a href="%%GLOBAL_ProductLink%%">%%GLOBAL_ProductName%%</a></strong>
			</div>
		<div id="valores2">
			<div class="antes2">$%%GLOBAL_RetailPrice%%</div>
			<div style="border-top: 1px solid #7da001;" class="ahora2">%%GLOBAL_ProductPrice%%</div>
		</div>	 

		</li>