

<div>
    <strong>Este producto tiene env&iacute;o con OCASA. Por favor, ingrese su opción</strong>
	<input type="radio" name="ShippingAllowed" id="ShippingAllowed1" value="1" {% if ShippingAllowed == '1' %}checked="checked"{% endif %}>
	<label for="ShippingAllowed1">{% lang 'ShippingAllowed1' %}</label>							
	<input type="radio" name="ShippingAllowed" id="ShippingAllowed2" value="2" {% if ShippingAllowed == '2' %}checked="checked"{% endif %}>
	<label for="ShippingAllowed2">{% lang 'ShippingAllowed2' %}</label>
	<input type="radio" name="ShippingAllowed" id="ShippingAllowed3" value="3" {% if ShippingAllowed == '3' %}checked="checked"{% endif %}>
	<label for="ShippingAllowed3">{% lang 'ShippingAllowed3' %}</label>
	<input type="radio" name="ShippingAllowed" id="ShippingAllowed4" value="4" {% if ShippingAllowed == '4' %}checked="checked"{% endif %}>
	<label for="ShippingAllowed4">{% lang 'ShippingAllowed4' %}</label>
						


</div>
